:root{
    --forest-green: #679186;
    --light-green: #bbd4ce;
    --slate-blue: #264e70;
    --tan: #fdebd3;
    --peach: #f9b4ab;
}

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

/*----------STARTER PAGE----------*/

h1{
    margin: .5em auto .9em auto;
    color: var(--slate-blue);
}

.italic{
    font-style: italic;
}

/*-------QUIZ----------*/

.quiz{
    margin: 2em auto;
}

.options-row {
    margin: 0 auto;
}

.col-item{
    margin: .25em auto;
}

.quiz-option, .quiz-option-1, .quiz-option-2 {
    font-size: 3em;
    color: #adadad;
    width: 100%;
    background-color: #cccccc;
    border-radius: .25em;
    text-align: center;
}

.quiz-option:hover{
    color: white;
    background-color: grey;
    text-decoration: none;
}

.quiz-option-1:hover{
    color: white;
    background-color: grey;
    text-decoration: none;
}

.quiz-option-2:hover{
    color: white;
    background-color: grey;
    text-decoration: none;
}

/*----------INFO 1----------*/

#info-1 p, #material p {
    margin: 2em auto;
}

.dusk-stairs, .concrete{
    width: 100%;
}

.quote {
    text-align: left;
    background-color:#bbd4ce;
    margin: .5em;
    padding: .5em;
    max-width: 700px;
}

blockquote{
    margin-bottom: .25em;
}
figcaption{
    font-style: italic;
}


